*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-page{
    height: 100%;
}

.container{
    width: 100%;
    background-color: #292929;
}
    
.logo{
    color: #dadada;
    font-size: 40px;
    letter-spacing: -0.8px;
}

.main-nav li{
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
}

.main-nav a{
    display: flex;
    width: 100px;
    height: 100px;
    color: #dadada;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-decoration: none;
}

.main-nav a:hover{
    color: #c08e5f;
}
.main-nav a.active{
    color: #c08e5f;
    box-shadow: inset 0 -6px 0  #c08e5f;
}
.image-gallery{
    display: block;
}

img{
    max-width: 150px;
    margin: 5px;
}

.main-content{
    position: absolute;
    display: flex;
    top: 100px;
    left: 0;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    background-color: #fff;

    transform: translateX(-200%);
        
    transition: transform 0.3s;
}

body.editor-open .main-content {
    transform: translateX(0);
}

.canvas-container {
    height:fit-content;
    display: flex;
    align-self: center;
    border: 1px solid black;
    width: fit-content;
}

.tools{
    margin-top: 50px;
}
.close-editor-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color:gray;
    cursor: pointer;
    outline: none;
}
.close-editor-btn:hover{
    color:rgb(56, 56, 56)
}
/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column{
    flex-direction: column;
}
/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

