* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #292929;
}

.main-page {
    height: 100%;
}

.container {
    width: 100%;
    background-color: #292929;
}

.logo {
    color: #dadada;
    font-size: 40px;
    font-weight: 500;
}

.main-nav li {
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
}

.main-nav a {
    display: flex;
    width: 100px;
    height: 100px;
    color: #dadada;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-decoration: none;
}

.main-nav a:hover {
    color: #c08e5f;
}

.main-nav a.active {
    color: #c08e5f;
    box-shadow: inset 0 -6px 0 #c08e5f;
}

.image-gallery {
    padding-top: 30px;
    background-color: rgb(255, 229, 199);
}

img {
    border-radius: 10px;
    max-width: 150px;
    margin: 10px;
}

.main-content form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    left: 0;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    transform: translateX(-200%);
    transition: transform 0.3s;
}

body.editor-open .main-content form {
    transform: translateX(0);
}

.canvas-container {
    display: flex;
    align-self: center;
    border: 1px solid black
}

.tools {
    margin-left: 30px;
    align-self: center;
    text-align: center;
    height: 100%;
    display: grid;
    font-weight: bold;
    font-size: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid rgba(71, 71, 71, 0.623);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.815);
}

.tool-box {
    padding: 1rem;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

.tool-box:hover {
    background-color: rgb(190, 190, 190);
}

.tool-box img {
    height: 20px;
}

.text-input {
    font-size: 1.5rem;
    grid-column: 2/5;
    grid-row: 1/2;
    outline: none;
    border: 1px solid rgba(71, 71, 71, 0.623);
    border-radius: 10px;
    cursor: text;
}

.up-line {
    grid-column: 1/2;
    grid-row: 2/3;
}

.down-line {
    grid-column: 2/3;
    grid-row: 2/3;
}

.switch-line {
    grid-column: 3/4;
    grid-row: 2/3;
}

.new-line-btn {
    grid-column: 4/5;
    grid-row: 2/3;
}

.delete-line {
    grid-column: 5/6;
    grid-row: 2/3;
}

.increase-font {
    grid-column: 1/2;
    grid-row: 3/4;
}

.decrease-font {
    grid-column: 2/3;
    grid-row: 3/4;
}

.font-color {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 83%;
    width: 83%;
    justify-self: center;
    align-self: center;
}

.border-color {
    grid-column: 4/5;
    grid-row: 3/4;
    height: 83%;
    width: 83%;
    justify-self: center;
    align-self: center;
}

.download-btn {
    grid-column: 1/3;
    grid-row: 4/5;
    text-decoration: none;
    color: rgba(177, 177, 177, 0.431);
    align-self: center;
}

.download-btn:hover {
    color: rgb(255, 255, 255);
}

.save-meme {
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    color: rgba(71, 71, 71, 0.431);
    text-decoration: none;
    width: 83%;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.save-meme:hover {
    color: rgba(0, 0, 0, 0.698);
    background-color: white;
}

.publish-btn {
    grid-column: 4/5;
    grid-row: 4/5;
    text-decoration: none;
    color: rgba(71, 71, 71, 0.431);
    border: none;
    outline: none;
    background-color: white;
}

.publish-btn {
    grid-column: 4/5;
    grid-row: 4/5;
    text-decoration: none;
    color: rgba(71, 71, 71, 0.431);
    border: none;
    outline: none;
    background-color: white;
}

.share-btn {
    display: flex;
    grid-column: 5/6;
    grid-row: 4/5;
    color: rgba(177, 177, 177, 0.431);
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
}

.share-btn:hover {
    color: rgb(255, 255, 255);
}

.close-editor-btn {
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 25px;
    position: relative;
    padding: none;
    margin: none;
    justify-self: end;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgba(71, 71, 71, 0.623);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    height: 10px;
    color: rgba(177, 177, 177, 0.431);
}

.close-editor-btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color:white
}



.saved-memes {
    position: absolute;
    display: none;
    top: 100px;
    left: 0;
    flex-direction: row;
    text-align: center;
    justify-content: start;
    width: 100%;
    padding-top: 30px;
    background-color: rgba(78, 78, 78, 0.904);
    color: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.saved-img {
    justify-self: center;
    padding-bottom: 15px;
    border-radius: 30px;
}

h1 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 2.5rem;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    body {
        background-color: white;
    }
    .main-nav a {
        display: flex;
        width: 75px;
        height: 75px;
        color: #dadada;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-decoration: none;
    }
    .logo {
        color: #dadada;
        font-size: 30px;
    }
    .main-content form {
        padding-top: 1rem;
    }
    .canvas-container {
        width: 250px;
        height: 250px;
    }
    .tools {
        margin-inline: 10px;
        margin-top: 30px;
        align-self: center;
        text-align: center;
        width: 100%;
        display: grid;
        font-weight: bold;
        font-size: 15px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border-radius: 10px;
    }
    .tool-box {
        padding: 0.2rem;
        margin: 5px;
    }
    .tool-box img {
        height: 15px;
    }
    .text-input {
        font-size: 0.75rem;
        border: 1px solid rgba(71, 71, 71, 0.623);
        border-radius: 10px;
    }
}